/*------------ estilos de texto ------------*/
h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding-top: 10vh;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
h2,
h3 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
}

p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

/*------------ menú ------------*/
header {
  padding: 2vh;
}

.menu {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 0 1vw;
}
#menu {
  float: right;
}
/*------------ search box prueba ------------*/
.searchContainer {
  display: flex;
  flex-direction: row;
  width: 33vw;
  margin: 5vh auto 9vh auto;
  background: rgba(251, 174, 23, 0.3);
  flex: 1 1 300px;

  border-radius: 20px;
  overflow: hidden;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.searchContainer img {
  padding: 0 8px;
}
.searchBox {
  background: rgba(251, 174, 23, 0);
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

/*------------ videos ------------*/
.horizontal-flex {
  display: flex;
  flex-direction: row;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
}

video {
  height: 235px;
}

.picture {
  background: rgb(251, 174, 23);
  border-radius: 50px;
}

.fila-videos {
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*------------ purpose ------------*/
h3 {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

sup {
  vertical-align: super;
  font-size: 13px;
}

.manvswoman {
  margin-top: 5vh;
  justify-content: center;
}

#man {
  background-image: url("../assets/man.jpg");
  background-size: cover;
}
#man:hover {
  cursor: url("../assets/cursorS.png"), pointer;
}
#woman {
  background-image: url("../assets/woman.jpg");
  background-size: cover;
}
#woman:hover {
  cursor: url("../assets/cursorL.png"), pointer;
  background-image: url("../assets/womanL.jpg");
  background-size: cover;
}
#tap {
  display: none;
}

@media screen and (max-width: 1294px) {
  h1 {
    width: 60%;
  }
}

@media screen and (max-width: 895px) {
  .fila-videos {
    flex-direction: column;
    align-items: center;
  }
  h3 {
    width: 80%;
  }
  .manvswoman {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 533px) {
  h1 {
    width: 90%;
  }
  .searchContainer {
    width: 80%;
  }
  .fila-videos {
    margin-left: auto;
    margin-right: auto;
  }
  .responsive-box {
    width: 330px;
  }
  video {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  #man:hover {
    background-image: url("../assets/man_mobile.jpg");
    background-size: cover;
  }

  #woman:hover {
    background-image: url("../assets/womanL_mobile.jpg");
    background-size: cover;
  }
  #tap {
    display: block;
    text-align: center;
  }
}
