/*------------ estilos de texto ------------*/
h1 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding-top: 10vh;
}
h2 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 129.3%;
}

p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

/*------------ menú ------------*/
header {
  padding: 2vh;
}

.menu {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 0 1vw;
}
#menu {
  float: right;
}
/*------------ search box prueba ------------*/
.searchContainer {
  display: flex;
  flex-direction: row;
  width: 33vw;
  margin: 5vh auto 9vh auto;

  flex: 1 1 300px;
  border: solid grey 1.5px;
  border-radius: 20px;
  overflow: hidden;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.searchContainer img {
  padding: 0 8px;
}
.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

/*------------ videos ------------*/
.horizontal-flex {
  display: flex;
  flex-direction: row;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
}

video {
  border: solid black 2px;
  height: 235px;
}

.picture {
  border: solid black 2px;
  border-radius: 50px;
}

.fila-videos {
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-around;
  flex-wrap: wrap;
}
